@import url(fonts.css);

/* ROOT START */

:root{
    --f900: 'Gotham Pro Black';
    --f400: 'Gotham Pro';
    --black : #181818;
    --blue : #0275B1;
    --seriy: #F4F4F4;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--f400);
}

body{
    background: #E5E5E5;
}

.container{
    width: 81.7%;
    margin: auto;
}

.d-flex{
    display: flex;
    
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black);
}


/* HEADER START */

.nav{
    width: 100%;
    position: fixed;
    padding: 0 2.8%;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
    border-radius: 4px;
    background-color: var(--white);
}

.logo{
    width: 6.8%;
    border-right: 1px solid var(--seriy);
}

.navigation{
    width: 35%;
}

.navigation__ul{
    margin: 0 23px 0 13px;
}

.navigation__menus{
    width: 17%;
    font-size: 0.75rem;
    line-height: 0.68rem;
    padding: 10px 0 0;
    color: var(--black);
}

.navigation__menus a{
    padding: 0 16px 20px;
    transition: color 0.3s;
    border-bottom:2px solid var(--white);
}

.navigation__menus:hover{
    cursor: pointer;
}

.navigation__menus:hover a{
    cursor: pointer;
    border-bottom:2px solid var(--blue);
    color: var(--blue);
}

.navigation__menus>img{
    width: 40px;
    margin: 0 33px;
}

.search{
    width: 27%;
    border-left: 1px solid var(--seriy);
}

.search>img{
    width: 64px;
    margin-right: 25px;
    padding-left: 20px;
}

.search>input{
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 15px;
    color: var(--black);
}

.search>input::placeholder{
    border: none;
    font-size: 16px;
    line-height: 15px;
    color: #CECECE;
}

.search>input:active,
.search>input:focus{
    border-color: transparent;
    border-bottom: 2px solid #1c87c9;
}

.kargayev{
    width: 24.7%;
    border-left: 1px solid var(--seriy);
    border-right: 1px solid var(--seriy);
}

.face{
    margin: 0 15px 0 30px;
}

.username>p{
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: var(--black);

}

h1{
    font-family: 'Gotham Pro';
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: #02B033;
    padding: 0 5px;
}

.views{
    margin-top: 11px;
}

.views>p{
    font-family: 'Gotham Pro';
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: #747474;
}

.strelka{
    width: 5%;
}

.other{
    width:6.7%;
    border-left: 1px solid var(--seriy);
    border-right: 1px solid var(--seriy);
}

.other__text{
    padding-top: 18px;
}

.other__text>p{
    padding-top: 10px;
    font-family: var(--f400);
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
}

/* HEADER END */

/* MAIN START */

main{
    padding-top: 9vh;
}

.left{
    width: 71.5%;
}

.new__post{
    margin-top: 9vh;
    margin:40px 0 35px;
    background-color: var(--white);
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.new__post-text{
    width: 93%;
    margin: auto;
}

.new__post-text>h1{
    font-family: var(--f400);
    font-size: 0.7rem;
    line-height: 0.6rem;
    color: var(--black);
    padding: 25px 0 20px;
}

.minds{
    padding: 21px 0 26px;
}

.minds>.textarea{
    width: 80%;
    font-family: var(--f400);
    font-size: 1rem;
    line-height: 0.95rem;
    color: var(--black);
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
}

.minds>.textarea::placeholder{
    font-family: var(--f400);
    font-size: 1rem;
    line-height: 0.95rem;
    color: rgba(24, 24, 24, 0.2);
}

.minds>.textarea:active,
.minds>.textarea:focus{
    border-color: transparent;
    border-bottom: 2px solid #1c87c9;
}

.images>.image{
    width: 24px;
    margin-right: 20px;
}

.image:last-child{
    margin-right: 0;
    width: 27px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    padding: 2px;
}

.image:last-child:hover{
    cursor: pointer;
}

.sort{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
    position: relative;
    margin-bottom: 34px;
}

.sort::before{
    content: '';
    display: block;
    width: 39.05%;
    height: 1px;
    background: var(--seriy);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.sort::after{
    content: '';
    display: block;
    width: 39.05%;
    height: 1px;
    background: var(--seriy);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.sort>select{
    border: 0px;
    outline: 0px;
    background: none;
    color: #0275B1;

}

.option{
    background: var(--seriy);
    border: 0px;
    outline: none;
}

.developer{
    background-color: #fff;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
}

.developer:last-child{
    margin-bottom: 40px;
}

.developer__header{
    font-size: 0.625rem;
    line-height: 1.313rem;
    padding: 15px 1.76%;
    border-bottom: 1px solid #f4f4f4;
}

.developer__header>p>span{
    color: var(--blue)
}

.developer__name{
    padding: 15px 0 15px 3.52%;
}

.developer__name>img{
    padding-right: 15px;
}

.developer__info{
    padding: 12px 0 7px;
}

.developer__info>h3{
    font-family: var(--f900);
    font-size: 0.875rem;
    line-height: 0.813rem;
    color: var(--black);
    padding-bottom: 2.5px;
}

.developer__info>p{
    font-size: 0.625rem;
    line-height: 1.313rem;
    color: var(--black);
    padding-top: 2.5px;
}

.developer__about{
    padding: 0 3.52% 20px;
    border-bottom: 1px solid #f4f4f4;
}

.steward{
    font-size: 0.875rem;
    line-height: 1.313rem;
    background: linear-gradient(180deg, var(--black) 0%, rgba(24, 24, 24, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 15px;
}

.developer__about>h3>a{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--blue);
}

.buttons{
    padding: 0 3.52%;
}

.like{
    padding: 15px 30px 18px 0px;
    border-right: 1px solid var(--seriy);
}

.like>img{
    padding-right: 7px;
}

.like>p{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
}

.comment{
    padding: 0 30px;
    border-right: 1px solid var(--seriy);
}

.comment>img{
    padding-right: 7px;
}

.comment>p{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
}

.share{
    padding-left: 30px;
    border-left: 1px solid var(--seriy);
}

.share>img{
    padding-right: 7px;
}

.share>p{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
}

.fisher{
    font-size: 0.875rem;
    line-height: 1.313rem;
    padding-bottom: 15px;
}

.guide{
    background: #E9F0F8;
    border-radius: 4px;
    margin-bottom: 10px;
}

.guide:last-child{
    background: #E9F0F8;
    border-radius: 4px;
    margin-bottom: 20px;
}

.file{
    padding: 20px 3.79% 19px 2.53%;
}

.guide__image{
    padding: 9px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 50%;
    margin-left: 20px;
}

.guidelines{
    padding-left: 15px;
}

.guidelines>h3{
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: var(--black);
    padding-bottom: 5px;
}

.guidelines>p{
    font-size: 0.625rem;
    line-height: 1.313rem;
    color: var(--black);
}

.right{
    width: 24.68%;
}

.dkargayev{
    margin-top: 40px;
    background-color: var(--white);
    border-radius: 4px;
    margin-bottom: 20px;
}

.kargayev__face{
    margin-top: -50px;
    padding-bottom: 16px;
}

.dkargayev>h1{
    font-size: 0.875rem;
    line-height: 0.813rem;
    color: var(--black);
}

.dkargayev>p{
    font-size: 0.625rem;
    line-height: 1.313rem;
    text-align: center;
    padding: 10px 7.24% 26px 10%;
}

.article{
    background: var(--white);
    border-radius: 4px;
    margin-bottom: 20px;
}

.article__button{
    padding: 20px 10% 23px;
}


.article__button>p{
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    padding: 11px 16.55% 10px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px;
    transition: background .5s, color 0.3s;
}

.article__button>p:hover{
    cursor: pointer;
    background: var(--white);
    color: #0077B5;
}

.my__groups{
    border-radius: 4px;
    background-color: #FCFDFD;
    margin-bottom: 20px;
}

.my__groups-header{
    padding: 25px 10% 20px;
    border-bottom: 1px solid var(--seriy);
    margin-bottom: 20px;
}

.my__groups-header>h2{
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: var(--black);
}

.my__groups-header>h2:last-child{
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: var(--blue);
}

.groups{
    background: var(--white);
    border: 1px solid var(--seriy);
    border-radius: 6px;   
    margin: 20px 10% 10px; 
}

.groups>img{
    height: 100%;
    padding: 14px 6.49%;
    border-radius: 27px;
}

.groups>h3{
    font-size: 0.875rem;
    line-height: 125%;
    color: var(--black);
    padding-right: 21.64% ;
}

.show{
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: #0275B1;
    padding: 15px 0 28px 10%;
}

.show:hover{
    cursor: pointer;
}

.hashtags{
    margin: 0 10%;
    padding-bottom: 21px;
}

.hashtag{
    padding: 7px 12px;
    background: #E9F0F8;
    border-radius: 4px;
    font-size: 0.75rem;
    line-height: 1.313rem;
    color: var(--black);
    margin: 0 10px 10px 0;
}

.articles__design{
    margin: 0 10%;
    padding-bottom: 15px;
}

.articles__design:last-child{
    padding-bottom: 26px;
}

.articles__design>img{
    padding-right: 15px;
}

.articles__design>h3{
    padding-bottom: 5px;
    font-size: 0.875rem;
    line-height: 125%;
    color: var(--black);
}

.nth{
    background: linear-gradient(91.13deg, var(--black) 79.16%, rgba(24, 24, 24, 0) 99.54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.articles__design>p{
    font-size: 0.625rem;
    line-height: 1.313rem;
    color: var(--black);
}

/* MAIN END */

/* FOOTER START */

footer{
    background: #F7F9FB;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 53px;
}

.footer__menus{
    padding-top: 30px;
}

.footer__logo>h2{
    font-size: 0.875rem;
    line-height: 1.313rem;
    color: var(--black);
    padding-top: 12px;
}

.footer__logo>h2>span{
    color: var(--blue);
}

.footer__navigation>h2{
    font-family: var(--f900);
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);
    padding-bottom: 24px;
}

.footer__navigation>ul>li>a{
    font-size: 0.75rem;
    line-height: 21px;
    color: var(--black);
}

.footer__navigation2{
    padding-top: 35px;
}

.footer__navigation2>ul>li>a{
    font-size: 0.75rem;
    line-height: 21px;
    color: var(--black);
}

.access>h2{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black); 
    padding-bottom: 23px;
}

.footer__buttons>button{
    margin-bottom: 10px;
    background: none;
}

.footer__buttons>button{
    border: 1px solid var(--blue);
    border-radius: 4px;
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: var(--blue);
    transition: color 0.3s background 0.3s;
}

.footer__buttons>button:hover{
    background: var(--blue);
    color: var(--white);  
    cursor: pointer;
}

.span{
    padding: 8px 15px;
}

.span>span{
    padding-right:43px;
}

.span1{
    padding: 8px 15px;
}

.span1>span{
    padding-right: 55px;
}

.language{
    padding: 30px 0 23px;
}

.language>h2{
    font-size: 0.75rem;
    line-height: 0.68rem;
    color: var(--black);

}

.right>select{
    width: 100%;
    padding: 11px 0 10px 15px;
    border-radius: 4px;
    border-color: #f0f0f0;
    outline: 0px;
    background: none;
    color: #0275B1;
    font-family: var(--f900);
    font-size: 0.75rem;
    line-height: 0.68rem;
    text-transform: uppercase;
    color: var(--black);
}

/* FOOTER END */

/* MEDIA COOMING SOON... */